.header {
  width: 100%;
  height: 80px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.logo,
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo img {
  width: 24px;
  height: 24px;
}
.logo h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.login img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;

}

a{
    color: black;
    text-decoration: none;
}
.cartImg{
    width: 24px;
    height: 24px;
}
.person_img{
    width: 40px;
    height: 40px;

}
.imgs_div{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.imgs_div >div{
    display: flex;
    align-items: center;
    gap:4px;
}
.down{
    width: 10px;
    height: 5.75px;
    object-fit: cover;
}