button{
    width: 100%;
    padding: 10px 20px;
    background-color: #FF4000;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    border: none;
    border-radius: 10px;

}
