.header {
  width: 100%;
  height: 80px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo,
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo img {
  width: 24px;
  height: 24px;
}
.logo h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.login img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;

}
.login p{
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

}
a{
    color: black;
    text-decoration: none;
}