.filter_line {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.filter_line_div {
  display: flex;
  align-items: center;
  gap: 32px;
}
.filter_line_div >div:first-child,.filter_line_div >div:last-child {
   display: flex;
  align-items: center;
  gap: 8px;
}
.filter_line_div >div:first-child >div{
   display: flex;
  align-items: center;
}
span {
  width: 1px;
  height: 14px;
  background-color: #e1dfe1;
}
h1 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 42px;
  color: #10151f;
  line-height: 100%;
  letter-spacing: 0%;
}

.res {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3e424a;
}
p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0%;
  color: #10151f;
}

input::placeholder {
  color: #ff4000;
}
.input_div {
  display: flex;
  align-items: center;

  gap: 4px;
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #e1dfe1;
  background-color: #ffffff;
  width: 175px;
  height: 42px;
}
.input_div input {
  width: 111px;
  height: 21px;
}
.input_div:focus {
  outline: 1px #3e424a;
}
.label {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  color: #3e424a;
}
input {
  border: none;
}

input:focus {
  outline: none;
}
.filter {
  width: 392px;
  height: 169px;

  padding: 16px;
  position: absolute !important;
  right: 96px;
  /* bottom: -159px; */
  top: 53px;
  display: none;
  align-items: flex-start !important;
  flex-direction: column;
  gap: 20px !important;
  border: 1px solid #e1dfe1;
  background-color: white;
  display: none ;
  border-radius: 1px;
}
.filter > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.filter>div>div{
  display: flex;
}
.filter p {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0%;
  color: #10151f;
}
button {
  width: 124px;
  height: 41px;
}
.sortBy {
  width: 223px;
  height: 184px;

  border-radius: 8px;
  border-width: 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
  display: none;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start;
  border: 1px solid #e1dfe1;
  position: absolute;
  right: 0px;
  top: 53px;
 background-color: white;
}
ul {
  list-style: none;
}
ul li {
  width: 223px;
  height: 40px;
  cursor: pointer;

  padding: 8px 16px;
  gap: 10px;
}
.sortBy p {
  margin-left: 16px;
}
.filterdes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  border: 1px solid #E1DFE1 ;
  width: 141px;
  padding: 8px 10px 8px 16px;
  border-radius: 50px;
}
.filterdes p{
  color: #3E424A;
  font-size: 14px;
  font-weight: 400;
}
.filterdes img{
  width: 12px;
  height: 12px;
  cursor: pointer;
}